body{
    font-family: 'Amarant', 'sans-serif';
    font-size: 16px;
    color: #776E65;
    background-color: #FAF8EF;

}
#content{
    width: 100%;
    margin: 0 auto;
}
#game{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#game h1{
    font: size 0.1875px; 
}