
.cuadro{
    width: 200px;
    height: 200px;
    border: black 1px solid;
}
#tablero{
    display: flex;
    width: 850px;
    height: 850px;
    align-content: center;
    justify-content: center;
    flex-flow: row wrap;
}
#centrar{
    display: flex;
    justify-content: center;
}
.topo{
    background-image: url(../MEMORIA/Imagenes/Dugtrio_alolan.png);
    background-size: cover;
}